.brand {
  

  color: $black;
  padding-top: 120px;
  padding-bottom: 170px;
  background-image: url(../images/brand2.png);
  background-repeat: no-repeat;
  background-color: $bg-brand-color;
  &__container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: calc(60 / 45);
    color: $brand-color-font;
    margin-bottom: 30px;
  }
  &__text {
    width: 690px;
    font-size: 14px;
    line-height: calc(30 / 16);
    font-family: $secondary-font;
    color: $brand-color-font;

    text-align: center;

    font-weight: 300;
  }
  &__center {
    margin-top: 45px;
    img {
      max-width: 1250px;
    }
    position: relative;
  }
  &__story {
    position: absolute;
    left: 50%;
    top: 85px;
    width: 535px;
    margin-left: 45px;
  }
  &__story__title {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 25px;
  }
  &__story__content {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 40px;
    line-height: 2;
  }
  &__button {
    padding: 23px 40px;
    border: 3px solid $black;
    color: $black;
    font-weight: 900;
    font-size: 20px;
    line-height: calc(30 / 16);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
     
    }
  }
  @media screen and (max-width: 1279px) {
    &__center {
      margin-top: 45px;
      img {
        max-width: 1000px;
      }
      position: relative;
    }
    &__story {
      position: absolute;
      left: 45%;
      top: 35px;
      width: 500px;
      margin-left: 45px;
    }
    &__story__title {
      margin-bottom: 20px;
      font-weight: 800;
      font-size: 30px;
    }
    &__story__content {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 30px;
      width: 500px;
   
    }
    &__button {
      padding: 10px 20px;
    
      font-weight: 900;
      font-size: 20px;
 
    }
  }
  @media screen and (max-width: 1023px) {


    padding-top: 50px;
    &__center {
      margin-top: 45px;
      img {
        max-width: 700px;
      }
      position: relative;
    }
    &__story {
      position: absolute;
      left: 45%;
      top: 35px;
      width: 330px;
      margin-left: 45px;
    }
    &__story__title {
      margin-bottom: 20px;
      font-weight: 800;
      font-size: 15px;
    }
    &__story__content {
      font-weight: 600;
      font-size: 10px;
      margin-bottom: 10px;
      width: 300px;
   
    }
    &__button {
      padding: 10px 15px;
    
      font-weight: 900;
      font-size: 20px;
 
    }
  }
  @media screen and (max-width: 767px) {

    background-image: none;
    padding-top: 25px;
    padding-bottom: 50px;

    padding-top: 50px;
    &__center {
      margin-top: 45px;
      img {
        max-width: 375px;
      }
 
    }
    &__text {
      max-width: 350px;
    }
    &__story {

      left: 40%;
      top: 15px;
      width: 150px;
      margin-left: 45px;
    }
    &__story__title {
      margin-bottom: 5px;
      width: 150px!important;;
      font-weight: 800;
      font-size: 15px;
    }
    &__story__content {
      font-weight: 600;
      font-size: 5px;
      margin-bottom: 8px;
     
      width: 175px;
   
    }
    &__button {
      padding: 5px 10px;
    
      font-weight: 900;
      font-size: 10px;
 
    }
  }
  @media screen and (max-width: 374px) {
    padding-top: 20px;
    &__title {
      font-size: 25px;
      
    }
    &__center {
      margin-top: 45px;
      img {
        max-width: 310px;
      }
      position: relative;
    }
    &__text {
      max-width: 250px;
      font-size: 10px;
    }
    &__story {
    
      left: 37%;
      top: 15px;
      width: 150px;
      margin-left: 45px;
    }
    &__story__title {
      margin-bottom: 5px;
      width: 150px!important;;
      font-weight: 800;
      font-size: 10px;
    }
    &__story__content {
      font-weight: 600;
      font-size: 5px;
      margin-bottom: 25px;
     
      width: 150px;
   
    }
    &__button {
     
      padding: 5px 10px;
 
      font-weight: 900;
      font-size: 10px;

      color: white;
      border: 3px solid white!important;;
 
    }
  }
  
}
