$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Noto Sans KR', sans-serif;

$black: #111111;
$black-three: #222222;
$black-Four: #333333;
$white: #ffffff;
$bright-orange: #f96400;
$brownish-grey: #666666;
$sun-yellow: #fcd32a;
$dark-brown: #110e03;
$greyish: #a9a9a9;
$white-Three: #f4f4f4;
$pinkish-grey-Two: #ccc8c6;
$tomato: #ea4913;
$cerulean: #0565bb;
$goldenrod: #fccb05;
