$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Noto Sans KR', sans-serif;

$primary-color-font: #f9fafb;

$banner-1: #ea4913;
$best-product-color: #fcd32a;
$brand-color-font: #ffcc33;
$bg-brand-color: #0565bb;


$color-font: #f96400;



$black: #111111;
